<a href="https://colab.research.google.com/github/ankit-chuahan/Python-Practice-Questions/blob/main/Practice_python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find the area of a triangle.
-Area of triangle is 1/2 * Base * height

In [ ]:
# ARea of Triangle
# Taking user input for both base and height and type cast it to int
Base =int(input("Enter the Base of Triangle\n"))
Height = int(input("Enter the Height of Triangle\n"))
Area = (1/2 * Base * Height)
print(f"The Area of Triangle of Base {Base}  And Height {Height} is : -->{Area}")

Enter the Base of Triangle
15
Enter the Height of Triangle
12
The Area of Triangle of Base 15  And Height 12 is : -->90.0

2.  Write a program that calculates the area & perimeter of a circle from the
radius

using the formula A = πr², P =2πr

In [ ]:
# perimter of circle
import math
radius = float(input("enter the radius"))
perimter = 2*math.pi*radius
print(f"perimeter of circle of radius {radius} is :-->{perimter}")

Area = math.pi * radius**2
print(f"Area of circle of radius {radius} is ----->{Area}")

enter the radius14
perimeter of circle of radius 14.0 is :-->87.96459430051421
Area of circle is ----->615.7521601035994

3. Write a Python program to swap two variables.

In [ ]:
a = int(input("enter first number\n"))
b = int(input("enter second number\n"))
# a,b = b,a
# print(a,b)  #swaping without temperory variable
print(f"original value of A is {a} and b is {b}")
temp = a # we store value of a in temp variable
a=b
b=temp
print(f"after swapping value of A is {a} and b is {b}")

enter first number
1
enter second number
100
original value of A is 1 and b is 100
after swapping value of A is 100 and b is 1

4. Write a Python Program to Check Leap Year

In [ ]:
year = int(input("enter the year \n"))
if (year % 100 ==0 ) and (year % 400 ==0):
# divide by 100 means century years and divide by 400 means leap year like 2000,4000)
  print("{} is a leap year".format(year))
elif (year % 4 ==0)  and (year %100 !=0) :
  # if not divide by 100 means not a centuary year and divide by 4 is leap year
  print("{} is a leap year".format(year))
else:
  print("{} is not a leap year" .format(year))

enter the year
1567
1567 is not a leap year

5.Write a program that reads the x and y position of two
points in the Cartesian plane, and calculates the distance
between them.

In [ ]:
x1= int(input("enter the first point of x cordinate"))
x2 =int(input("enter the second point of x cordinate"))
y1 =int(input("enter the first point of Y cordinate"))
y2 =int(input("enter the Second point of Y cordinate"))

distance = math.sqrt((x2-x1)**2-(y2-y1)**2)
print(f"The cartesian distance between two point is {distance}")

enter the first point of x cordinate9
enter the second point of x cordinate2
enter the first point of Y cordinate8
enter the Second point of Y cordinate3
The cartesian distance between two point is 4.898979485566356

6. Write a Python Program to Find the Factorial of a Number.

In [ ]:
num = int(input("enter the number \n"))
factorial = 1
if num ==0 or num==1:
  print("factorial of number {} is 1".format(num))
elif num <0 :
  print("factorial of number {} does not exist as the number is negative".format(num))
else:
  for i in range(1,num+1):
    factorial = factorial *i
  print("factorial of number {} is {}".format(num,factorial))

enter the number
5
factorial of number 5 is 120

In [ ]:
# Using recursion
number = int(input("enter the number \n"))
def factorial(number):
  if number==0 or number==1:
    return 1
  elif number >1:
    return number * factorial(number-1)
  else:
    return "cant find the factorial as number is negative"
end_ = factorial(number)
print("The factorial of number {} is {}".format(number,end_))

enter the number
7
The factorial of number 7 is 5040

7. Write a Python Program to Print the Fibonacci sequence.

    0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, and so on.

In [ ]:
# fibbonachi series
a,b = 0,1
for i in range(6):
  a,b = b,a+b
  print(a,end=',')

1,1,2,3,5,8,

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

# Test the function
num = int(input("Enter the number of terms in Fibonacci series: "))

if num <= 0:
    print("Please enter a positive integer.")
else:
    print("Fibonacci series:")
    for i in range(num):
        print(fibonacci(i), end=" ")

Enter the number of terms in Fibonacci series: 5
Fibonacci series:
0 1 1 2 3

8. Write a program that reads two numbers and tells you which one is
bigger

In [ ]:
num1 = int(input("enter the first number \n "))
num2 = int(input("enter the Second number \n "))

if num1==num2:
  print("Both numbers are equal")
elif num1>num2:
  print("{} is greater then the {} ".format(num1,num2))
else:
  print("{} is greater then the {} ".format(num2,num1))

enter the first number
 98
enter the Second number
 21
98 is greater then the 21

9. Write a program that asks the user for three numbers and displays the
largest one.

In [ ]:
num1 = int(input("enter the first  number \n"))
num2 = int(input("enter the second  number \n"))
num3 = int(input("enter the Third  number \n"))

if num1 >num2 and num1>num3:
  print("{} is Largest of the three numbers".format(num1))
elif num2>num1 and num2>num3:
  print("{} is Largest of the three numbers".format(num2))
else:
  print("{} is largest of three numbers".format(num3))

enter the first  number
12
enter the second  number
45
enter the Third  number
64
64 is largest of three numbers

10.  Write a program that reads a number and reports whether it is positive,
negative or zero.

In [ ]:
num = int(input("Enter the number \n"))
if num==0:
  print("The above number is equal to zero")
elif num>0:
  print("The above number is postive ")
else:
  print("The above number is negative")

Enter the number
54
The above number is postive

11 .  Write a program that reads three numbers and tells you if they can be the
sides of a triangle (the sum of two sides must always be greater than the third
side) .

In [ ]:
side1 = int(input("enter the first  number \n"))
side2 = int(input("enter the second  number \n"))
side3 = int(input("enter the Third  number \n"))

# cheking condition
if side1 + side2 >=side3 and side2 + side3 >=side2 and side1 + side3 >= side2:
  print("These 3 side {},{},{} can form a triangle" .format(side1,side2,side3))
else:
  print("These 3 side {},{},{} cant form a triangle" .format(side1,side2,side3))

enter the first  number
12
enter the second  number
65
enter the Third  number
12
These 3 side 12,65,12 cant form a triangle

12.Print the number from 1 to using both for and while loop

In [ ]:
# While Loop

num=1  #initiating variable starting
while num <11:   #checking for the condition
  print(num,end =' ' )
  num+=1   # incrementing the initial value

1 2 3 4 5 6 7 8 9 10

In [ ]:
# For Loop

for num in range(1,11):
  print(num , end=' ')

1 2 3 4 5 6 7 8 9 10

13. Write a program that displays even numbers 1 to 50 and
odd numbers 51 to 100 using a repeating loop.

In [ ]:
num = 1
while num <100:
  if num%2!=0:
    while num<50:
      if num%2==0:
        print(num,end=' ')
      num+=1
    print(num,end=' ')
  num+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num = 1
while num<100:
  if num<50:
    if num %2!=0:
      print(num,end=' ')
  else:
    if num%2==0:
      print(num,end=' ')


  num+=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

14. Create a program that prompts the user for a number and
displays the table of that number using a loop

In [ ]:
# using for loops
number = int(input("enter the number  \n"))
for i in range(1,11):
  print(f"{i} x = {i*number}")
print('-'*20 )
# using while Loops
i=1 #initiating counter var
while i <=10:
  print(f"{i} x = {i*number}")
  i+=1

# Table from 1 to 10 withput user prompt
for i in range(1,11):
  for j in range(1,11):
    print(f'{i} x {j} = {i*j}')
  print('-'*30)

enter the number
5
1 x = 5
2 x = 10
3 x = 15
4 x = 20
5 x = 25
6 x = 30
7 x = 35
8 x = 40
9 x = 45
10 x = 50
--------------------
1 x = 5
2 x = 10
3 x = 15
4 x = 20
5 x = 25
6 x = 30
7 x = 35
8 x = 40
9 x = 45
10 x = 50

15. Write a program that calculates and displays the sum of
even numbers from 1 to 100 using a repeating loop.

In [ ]:

sum_= 0
i=1
while i <=100:
  if i%2==0:
    sum_+=i
  i+=1
print("The sum of even number between 1 and 100 is---->",sum_)

The sum of even number between 1 and 100 is----> 2550

16. Write a program that prompts the user for two numbers A
and B and displays all numbers between A and B.

In [ ]:
num1 = int(input("enter the first number \n"))
num2 = int(input("enter the second  number \n"))

start = min(num1,num2)
end_ = max(num1,num2)
for i in range(start+1,end_):
  print(i,end=' ')

enter the first number
45
enter the second  number
32
33 34 35 36 37 38 39 40 41 42 43 44

17. Write a Python Program to Check Armstrong Number?

For example, let's consider the number 153:
It has three digits (1, 5, and 3).

If we calculate 1^3 + 5^3 +3^3  , we get , which is equal to .

So, 153 is an Armstrong number because it equals the sum of its digits raised to the power
of the number of digits in the number

In [ ]:
number=int(input("enter the number \n"))   #153
total = 0       #initiate Total
temp = number     #temp=153  Store the original number in a temporary variable
while temp>0:       #checking the condition
  digit = temp%10   #153%10 = 3  Extract the last digit of temp
  cube= digit**3       #3^3=27
  total+=cube           #0+27=27
  temp = temp//10        #updating temp variable  temp = 153/10 = 15 Remove the last digit from temp
if total==number:
  print("Its an Armstrong Number")
else:
  print("Its not an Armstrong Number")

enter the number
370
Its an Armstrong Number

In [ ]:
num = int(input())
sum_of_cubes = sum(map(lambda x: int(x)**3, str(num)))

if sum_of_cubes == num:
    print('It is an Armstrong Number')
else:
    print("It is not an Armstrong number")

18. Write a Python Program to Find Armstrong Number in an Interval.

In [ ]:
lower = int(input("Enter the lower limit of the interval: "))
upper = int(input("Enter the upper limit of the interval: "))
for num in range(lower, upper + 1):  # Iterate through the numbers in the given interval
    temp_num = num
    total = 0
    while temp_num > 0:            # Loop through each digit of the number
        digit = temp_num % 10         # Extract the last digit of temp_num
        cube = digit ** 3                # Calculate the cube of the digit
        total += cube                      # Add the cube of the digit to the total
        temp_num //= 10                      # Remove the last digit from temp_num
    if total == num:                           # Check if the number is an Armstrong number
        print(num)

Enter the lower limit of the interval: 1
Enter the upper limit of the interval: 500
1
153
370
371
407

5

19. Write a Python Program to find largest element in an array.

In [ ]:
my_array = [10, 20, 30, 99]

def largest_num():
  for num in my_array:
    return max(my_array)
print(largest_num())

99

In [ ]:
my_array = [10, 20, 30, 99]
largest_ = my_array[0]
def largest_number():
  largest_ = my_array[0]
  for num in my_array:
    if num>largest_:
        largest_ =num
    else:
        largest_=largest_
  return largest_
print(largest_number())

99

20. Write a Python Program for array rotation.

In [ ]:
arr = [1, 2, 3, 4, 5]
d = 2
def rotate_array(arr, d):
    n = len(arr)

    # Check if 'd' is valid, it should be within the range of array length
    if d < 0 or d >= n:
        print("Invalid rotation value")

    return arr[-d:] + arr[:-d]


rotated_arr = rotate_array(arr, d)
print("Original array:", arr)
print("Rotated array:", rotated_arr)

Original array: [1, 2, 3, 4, 5]
Rotated array: [4, 5, 1, 2, 3]

21. Write a Python Program to Split the array and add the first part to the end?

In [ ]:
arr = list(range(7))
n=len(arr)
k = int(input())
def first_last(arr,k):
  if k<=0 or k> n:
    return arr
  first=arr[:k]
  last = arr[k:]
  return last + first
final =(first_last(arr,k))
print("initial array",arr)
print('Final Array',final)

87
initial array [0, 1, 2, 3, 4, 5, 6]
Final Array [0, 1, 2, 3, 4, 5, 6]

22. Write a program that asks the user for a number N and
says whether it is prime or not.

In [ ]:
num = int(input("enter the number \n"))
if num==1:
  print("Its not a prime Number")
elif num==2:
  print("Its prime Number")
else:
  for i in range(2,num):
    if num%i==0:
      print('Its not prime')
      break
  else:
      print('Its prime')

enter the number
47
Its prime

In [ ]:
num= int(input("please enter the number \n"))
def check_prime(num):
  if num==1:
    return 'Its not a prime'
  elif num==2:
    return 'Its a prime'
  else:
    for i in range(2,num):
      if num%i==0:
        return 'Its not a prime'
        break
    else:
      return 'Its a Prime'

final=check_prime(num)
print(final)

please enter the number
12
Its not a prime

In [ ]:
# prime number between ranges
lower_limit=int(input())
upper_limit =int(input())
for num in range (lower_limit,upper_limit+1):
      if num ==1:
        print("1 its not a prime number")
      elif num > 1:
        for i in range (2,num):
          if num % i ==0:
            break
        else:
          print(num)

1
25
1 its not a prime number
2
3
5
7
11
13
17
19
23

23. Create a program that displays the first N first perfect
squares, where N is informed by the user, using a loop.

In [ ]:
n =int(input("enter the number \n"))
num=1
count=0
while count<n:
  square = num**2
  print(square,end=' ')
  count+=1
  num+=1

enter the number
6
1 4 9 16 25 36

24. Write a program that prompts the user for a sentence and
displays the number of vowels in the sentence.

In [ ]:
words = input("please enter any word \n ")
vowel_count=0
words = words.lower()
for word in words:
  if word in 'aeiou':
    vowel_count+=1
print("The number of vowles present in words is",vowel_count)

please enter any word
 Ankit Chauhan
The number of vowles present in words is 5

25. Write a program that prompts the user for a number and
displays its divisors

In [ ]:
number=int(input("enter the number \n"))
for num in range(1,number+1):
  if number % num==0:
    print(num,end=' ')

enter the number
15
1 3 5 15

26. Write a Python Program to Find LCM.

In [ ]:
x=int(input())     #54
y=int(input())     #72
def chcek_lcm(x,y):
  max_=max(x,y)    #max=72
  multiple = max_     #multiple =72
  while True:
    if multiple% x==0 and multiple %y==0:     #check 72%54==0(no) 72%72==0 (yes)  soo condition didnt setisfy
      return multiple
    else:
      multiple+=max_                        #soo condition didnt setisfy it comes in else where it upade value of multiple =144 and then check again
final=chcek_lcm(x,y)

print(f"The lcm of {x},{y} is {final}")

25
215
The lcm of 25,215 is 1075

27. Find the Hcf of 2 number

In [ ]:
def hcf(x, y):
    while y:
        x, y = y, x % y  # 24,36 = 36,24%36
    return x

# Test the function
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print("The HCF of", num1, "and", num2, "is", hcf(num1, num2))

Enter first number: 24
Enter second number: 36
The HCF of 24 and 36 is 12

In [ ]:
# define a function
def compute_hcf(x, y):
# choose the smaller number
 if x > y:
  smaller = y
 else:
  smaller = x
 for i in range(1, smaller+1):
  if((x % i == 0) and (y % i == 0)):
    hcf = i
 return hcf
num1 = int(input('Enter the number: '))
num2 = int(input('Enter the number: '))
print("The H.C.F. is", compute_hcf(num1, num2))

Enter the number: 24
Enter the number: 36
The H.C.F. is 12

28. Create a program that reads an array of integers and
checks that all elements are even

In [ ]:
arr = [21, 6, 8, 12, 56, 86]
is_even = False

for num in arr:
    if num % 2 != 0:  # Checking if the number is not even
        is_even = False
        break
    else:
        is_even = True

if is_even:
    print("All numbers are even")
else:
    print("all numbers are not even")

all numbers are not even

29. Write a program that reads a word and checks if it is a
palindrome (if it can be read backwards the same way).

In [ ]:
words = input("Please enter the word")
def check_palindrome(words):
  words=words.lower()
  if words==words[::-1]:
    return "Its a Palindrome"
  else:
    return "Its not a Palindrome"
final= check_palindrome(words)
print(final)

Please enter the wordANknA
Its a Palindrome

30. Create a program that reads two words and checks if the
second word is an anagram of the first.

In [ ]:
words1=input("Enter the first word \n")
words2=input("Enter the Second word \n")
def check_anagram(words1,words2):
  words1=words1.lower()
  words2=words2.lower()
  if len(words1)!=len(words2):
    return ("Its not a Anagram")
  else:
    if sorted(words1)==sorted(words2):
      return ("Its an Anagram")
    else:
      return ("Its not a Anagram")
final=check_anagram(words1,words2)
print(final)

Enter the first word
ankit
Enter the Second word
chuahan
Its not a Anagram

31. Write a program that takes a full name and displays only
the first name

In [ ]:
name = input("Please enter your full name \n")
final=name.split(" ")
first_name = final[0]
last_name = final[1]
print(f"First name of the word {name}is {first_name}")
print(f"Last name of the word {name} is {last_name}")

Please enter your full name
Ankit Chauhan
First name of the word Ankit Chauhanis Ankit
Last name of the word Ankit Chauhan is Chauhan

32. Create a program that reads a word and displays the
number of vowels present in it

In [ ]:
words= input("please enter the word \n")
count_vowels=0
for word in words.lower():
  if word in 'a,e,i,o,u':
    count_vowels+=1
print(f"Total number of vowels present in {words.lower()} is {count_vowels}")

please enter the word
Ankit chauhan
Total number of vowels present in ankit chauhan is 5

33. Write a program that fills a 3x3 matrix with values entered
by the user and displays the sum of the main diagonal values.

34. find the missing number in an array

In [ ]:
a=[1,2,4,5,6,7]
def get_missing_number():
  n=a[-1]
  sum_ = 0
  total = n*(n+1)//2
  sum_=sum(a)
  final=total-sum_
  return final
print(get_missing_number())

7
3

35. Check the Largest and Smallest number from an Array

In [ ]:
array = [3, 8, 1, 6, 2, 10, 4, 7, 5, 9]

def largest_small(arr):

    large_ = arr[0]
    small_ = arr[0]


    for num in arr:
        if num > large_:
            large_ = num
        elif num < small_:
            small_ = num

    return large_, small_


largest, smallest = largest_small(array)

In [ ]:
import numpy as np
array = [3, 8, 1, 6, 2, 10, 4, 7, 5, 9]
final=np.sort(array)
smallest_ = final[0]
biggest = final[-1]
print(smallest_)
print(biggest)

1
10

36. Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [ ]:
#write your code inside main function
count = 0
sum = 0.0
number = 1

while number != 0:
        number = int(input(""))
        sum = sum + number
        count += 1

if count == 0:
        print("Input some numbers")
else:
        print("Average and Sum of the above numbers are:", sum / (count-1), sum)

12
3
45
12
0
Average and Sum of the above numbers are: 18.0 72.0

38. Write a Python program to compute the cumulative sum of numbers in a given list. Note: Cumulative sum = sum of itself + all previous numbers in the said list.

In [ ]:
def nums_cumulative_sum(nums_list):
  return [sum(nums_list[:i+1]) for i in range(len(nums_list))]

lst = eval(input())
print(nums_cumulative_sum(lst))

In [ ]:
def cumulative_sum(nums):
    cumulative = []
    total = 0
    for num in nums:
        total += num
        cumulative.append(total)
    return cumulative

# Test the function with the given list
nums = [10, 20, 30, 40, 50, 60, 7]
print(cumulative_sum(nums))

[10, 30, 60, 100, 150, 210, 217]

39. Write a python program soo thats first all the even numbers appears and later odd

[1,2,3,4,5,6,7,8,9]--->>>[2,4,6,8,1,3,5,7,9]

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]
even=[]
odd=[]
def new_lst(x):
  for num in x:
    if num%2==0:
      even.append(num)
    else:
      odd.append(num)
  return even+odd
print(new_lst(lst))

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [ ]:
import numpy as np

lst = [13,45,87,76]
lst = np.sort(lst)

if len(lst) % 2 == 0:  # If the list length is even
    mid1 = len(lst) // 2
    mid2 = mid1 - 1
    median = (lst[mid1] + lst[mid2]) / 2
else:  # If the list length is odd
    mid = len(lst) // 2
    median = lst[mid]

print(median)

60.5

40. Concating 2 string

In [ ]:
names = ['Ankit ','Amit','Pawan','Ajay','Raman']
final='-'.join(names)
print(final)

Ankit -Amit-Pawan-Ajay-Raman

41. Write a Python program to find the longest length of word from sentance

In [ ]:
sentance_='hey ankit how are you and how are you doings'
def max_len(sentance_):
  new =sentance_.split(' ')
  return max(new,key=len)

print(max_len(sentance_))

doings

In [ ]:
import string

def is_pangram(sentence):
    alphabet = set(string.ascii_lowercase)
    sentence = sentence.lower()
    # Remove non-alphabetic characters
    sentence = ''.join(char for char in sentence if char.isalpha())
    # Check if all letters in alphabet are present in the sentence
    return set(sentence) >= alphabet

# Example usage:
sentence = "The quick brown fox jumps over the lazy dog"
if is_pangram(sentence):
    print("The sentence is a pangram.")
else:
    print("The sentence is not a pangram.")

The sentence is a pangram.

In [ ]:
sentance='hey ankit how are you and how are you doing'

new = sentance.split(' ')
print(new)
print(len(new))

['hey', 'ankit', 'how', 'are', 'you', 'and', 'how', 'are', 'you', 'doing']
10

In [ ]:
lst = ['hey', 'ankit', 'how', 'are', 'you', 'and', 'how', 'are', 'you', 'doing','comeher']
n=[]
for name in lst:
  if len(name)>=5:
    n.append(name)
print(n)

['ankit', 'doing', 'comeher']

In [ ]:
def maximum_product(nums):
    nums.sort()  # Step 1: Sort the input list of integers

    # Step 2: Calculate the two possible cases for the maximum product
    case1 = nums[-1] * nums[-2] * nums[-3]  # Product of the three largest positive numbers

    # Product of the two smallest negative numbers and the largest positive number
    case2 = nums[0] * nums[1] * nums[-1] if nums[0] * nums[1] > nums[-2] * nums[-3] else nums[-1] * nums[-2] * nums[-3]

    # Step 3: Return the maximum of the two cases
    return max(case1, case2)

# Test the function
nums = [1, 2, 3, 4]
print(maximum_product(nums))

In [ ]:
lst=[1,2,3,4,5]
lst1=[3,4,5,6,7]
print(list(set(lst) & set(lst1)))

[3, 4, 5]

Create a function that takes a list of non-negative integers and strings and return a
new list without the strings

In [ ]:
lst = ['ankit',12,45,'Jhon','Ravi',90,-46]
new=[]
for i in  lst :
  if isinstance(i,int) and i>=0:
    new.append(i)
print(new)

[12, 45, 90]

The "Reverser" takes a string as input and returns that string in reverse order, with
the opposite case

In [ ]:
name = input()
def new_name(name):
  return name[::-1].swapcase()
print(new_name(name))

HeLlO aNkIt
TiKnA oLlEh

Create a function that takes a single string as argument and returns an ordered list
containing the indices of all capital letters in the string

In [ ]:

def nea_ind(word):
  return [i for i,char in enumerate(word) if char.isupper()]
print(nea_ind('HeLlO woRLd'))

[0, 2, 4, 8, 9]

In [ ]:
new =[ i for i in range(1,15) if i%2==0]
print(new)

[2, 4, 6, 8, 10, 12, 14]

Create a function that takes a string and returns a string with its letters in
alphabetical order

In [ ]:
word = 'Ankit'

def sorted_word(word):
    return ''.join(sorted(word))

print(sorted_word(word))

Aiknt

An isogram is a word that has no duplicate letters. Create a function that takes a
string and returns either True or False depending on whether or not it's an "isogram".

In [ ]:
def is_isogram(word):

 word = word.lower()

 # Create a set to store unique letters in the word
 unique_letters = set()

 for letter in word:
 # If the letter is already in the set, it's not an isogram
 if letter in unique_letters:
 return False
 # Otherwise, add it to the set
 unique_letters.add(letter)

 return True

Create a function that takes a list of strings and return a list, sorted from shortest to
longest.

In [ ]:
lst = ['google','Ant','Z','Amazone','Apples','Grapes_']
def sortby_len(word):
    return (sorted(lst,key=len))

print(sortby_len(word))

['Z', 'Ant', 'google', 'Apples', 'Amazone', 'Grapes_']

Pattern

In [ ]:
n= int(input("enter the number--->"))

for i in range(1,n+1):
        for j in range(1,i+1):
                print(j,end=' ')
        print('')

for i in range(n,0,-1):
        for j in range(i,0,-1):
                print(j,end=' ')
        print('')

In [ ]:
def two_sum(nums, target):
    # Dictionary to store the complement of each number
    complement_map = {}

    for i, num in enumerate(nums):
        complement = target - num
        # Check if the complement exists in the dictionary
        if complement in complement_map:
            # Return the indices of the two numbers
            return [complement_map[complement], i]
        # If complement not found, add the current number to the dictionary
        complement_map[num] = i

    # If no solution found
    return None

# Test the function with nums = [2,7,11,15], target = 9
nums = [2, 7, 11,75, 15,86,96]
target = 86
print(two_sum(nums, target))  # Output: [0, 1]

[2, 3]

In [ ]:
s='hello'
def string_score(s):
  score = 0
  for i in range(len(s)-1):
    score += abs(ord(s[i]) - ord(s[i+1]))
  return score


print(string_score(s))

13

In [ ]:
word ='leetcode'
def substring(word):
  reverse=word[::-1]
  for i in range(1,len(word)):
    if word[i-1] +word[i] in reverse:
      return True
  return False
substring(word)

True

Second largest element

In [ ]:
n = int(input())
arr = map(int, input().split())  #2 3 6 6 5
def second_largest(arr):
   new = sorted(set(arr))
   return new[-2]

second_largest(arr)

5
2 3 6 8 9 7 8

8

 In this challenge, the user enters a string and a substring. You have to print the number of times that the substring occurs in the given string. String traversal will take place from left to right, not from right to left

 ABCDCDC

CDC  ---2

In [3]:
def count_substring(string, sub_string):
    count = 0
    for i in range(len(string) - len(sub_string) + 1):
        if string[i:].startswith(sub_string):
            count += 1
    return count

string = 'ABCDCDC'
sub_string = "CDC"
count_substring(string, sub_string)

2

In [19]:

l1=input().split()

l2=input().split()
for x in l1:
  for y in l2:
    print((int(x),int(y)),end=" ")

1 3 4
4 3 1
(1, 4) (1, 3) (1, 1) (3, 4) (3, 3) (3, 1) (4, 4) (4, 3) (4, 1)

In [28]:
l1=input().split()
def new_(x):
  x= '-'.join(l1)
  return x
new_(x)

this is a string

'this-is-a-string'